.app {
  width: 700px;
  min-width: 300px;
  height: max-content;
}

h1 {
  text-align: center;
  color: #ececec;
  /* font-family: ; */
}

.display {
  width: 100%;
  height: 100px;
  background: black;
  color: #ececec;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  font-family: monospace;
  padding: 20px;
  overflow: scroll;
}

button {
  font-size: 22px;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 5px;
}

button:hover {
  background: #e2dcdc;
}

.topButtons, .buttomButtons  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 100px;
}

.buttomButtons {
  grid-template-columns: 2fr 1fr 1fr;
}

.orangeBg {
  background-color: rgb(231, 128, 44);
  border: 1px solid rgb(211, 198, 198);
}

.orangeBg:hover {
  background-color: #d46001;
}