@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

* {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: cursive;
  height: 100vh;
  color: black;
  padding: 17px;
  padding-top: 80px;
}
